<div [ngClass]='{ "fadeIn": fadeIn, "fadeOut": fadeOut }' id='overlay' (click)='$hide()' *ngIf='show'>
  <div id='aspectRatio'>
    <iframe [src]="videoUrl | safe" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>
