$defaultWidth: 1024px;
$defaultMargin: 16px;

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

div#overlay {
  position: fixed;
  top: 0px;
  left: 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  z-index: 1001;

  background: rgba(black, 0.5);

  animation-duration: 300ms;
  animation-timing-function: ease;

  &.fadeIn {
    animation-name: fadeIn;
  }

  &.fadeOut {
    animation-name: fadeOut;
  }

  > div#aspectRatio {
    --aspect-width: 16;
    --aspect-height: 9;

    --width: #{$defaultWidth};
    --margin: #{$defaultMargin};

    position: relative;

    width: calc(var(--width) - (2 * var(--margin)));
    height: 0px;
    padding-bottom: calc(var(--aspect-height) / var(--aspect-width) * (var(--width) - (2 * var(--margin))));
    margin: var(--margin);

    @media (max-width: ($defaultWidth - 1) + (2 * $defaultMargin)) {
      --width: 100%;
    }

    > iframe {
      position: absolute;
      top: 0px;
      left: 0px;

      width: 100%;
      height: 100%;
    }
  }
}
